@charset "utf-8";
html{
}
body{
}
/* header */
header{
    display: flex;
    background:#186AC9;
    align-items:center;
    justify-content:space-between;
    width:100%;
    line-height:60px;
}



header ul{
  padding:0 30px;
  display: flex;
  align-items: center;
}

header li{
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  letter-spacing: .2em;
}

header li a:hover{
  text-decoration: underline;
}

.top{
  display: flex;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
    /* width: 100%; */
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#confirm{
  padding-top: 20px;
  border-bottom: 1px solid #727272;
}

.side-flex{
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding-top:20px;
}

.side-username{
  padding-left: 22px;
}

.side-right{
  text-align: right;
}
.side-search_btn {
  text-align: center;
}

button{
  border: none;
}


#comment{
  margin: 30px 10px 30px 30px;
  /* padding-top: 40px; */
  font-size: 15px;
}

::placeholder{
  /* color: #b0c4de; */
  color: gray;
}


.atlas_logo{
  /* display: inline-block; */
  width:200px;
  height: auto;
  padding-left: 30px;
  padding-top: 20px;
}
/* アコーディオンメニュー【Atlasトップページ】 */

.accordion-container {
  position: relative;
  width: 100%;
  border: 1px solid #0079c1;
  border-top: none;
  outline: 0;
  cursor: pointer
}

.accordion-container .accordion-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  font-size: 1.25em;
  font-weight: normal;
  color: #fff;
  background: #000;
  cursor: pointer;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
  background-color: #00aaa7;
  color: white;
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
  color: white;
}

.accordion-title{
  position: relative;
}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

/* .accordion-content {
  display: none;
  padding-left: 2.3125em;

} */

.accordion-content {
  display: none;
  position: relative;
  margin-bottom: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  font-size: 1.25em;
  font-weight: normal;
  color: #fff;
  background: #000;
  cursor: pointer;

}

.accordion-content p{
    margin-bottom: 20px;
}

.accordion-content p a{
    color:#fff;
}

.accordion-content p a:hover{
    color:#00aaa7;
    font-size:22px;
}

/* CSS for CodePen */
.accordion-container {
  width: 300px;
  margin: 1.875em auto;
}

/* ここまでがアコーディオンメニュー */




/* ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ */
.flex-post{
  display: flex;
  align-items: center;

}

/* つぶやき送信ボタン */
.submit_btn{
  margin-top: 80px;
  width: 60px;
  height: auto;
  border-radius:15px;
  cursor:pointer;
  transition: all 0.3s ease;
}
/* ホバーしたら、色が変わる？変わらないから聞く。 */
.submit_btn:hover{
  background: #727272;
}

.flex-post img{
  padding-left: 150px;
}

.flex-post textarea{
  font-size: 20px;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* 投稿の間隔 */
.post-li{
  margin: 20px  40px 20px;
}
/* 投稿編集ボタン */
.post_btn1{
  width:47px;
  height: auto;
  cursor:pointer;
}

/* 投稿削除ボタン */
.post_btn2{
  width:47px;
  height: auto;
  cursor:pointer;
  transition: .3s;
}
/* ホバーしたら、反転し、背景画像が変わる？変わらないから聞く。*/
.post_btn2:hover{
  background-image: url('images/trash-h.png');
}
/* ///////////////////////////////////////////////////////////////////////////////////// */
ul{
  display: flex;
  align-items: center;

}

/* ///////////////////////////////////////////////////////////////////////////////////// */
/* ボタンのデザイン */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  margin: 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: .3;
}

.btn_base{
  background: #0079c1;
}

.btn_base a{
  color:#fff;
}
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* 編集モーダル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
  background-color: #457b9d;
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-text{
  font-size: 20px;
}

#closeModal{
  cursor:pointer;

}

/* 検索フォーム//////////////////////////////////////////// */

.search-top-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}

.keyword-box{
  padding-top: 30px;
  padding-right: 70px;
}

.keyword{
  font-size: 25px;
}
.search-form-001{
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.form{
  width:300px;
  height: 35px;
  font-size: 20px;
}

.search_btn{
 margin-left: 10px;
 height: 38px;
 border-radius: 7px;
 cursor: pointer;
}

.search_btn:hover{
  opacity:0.7;
}

/* フォローする、フォロー解除ボタン */
.follow{
  background:deepskyblue;
  color:#fff;
}

.follow a{
  color:#fff;
}

.unfollow{
  background:red;
  color:#fff;
}

.unfollow a{
  color: #fff;
}

/* textareaにフォーカスしたら色を変える。 */
.form:focus{
  background-color: #bde9ba;
}

.search-users{

  display: flex;
  align-items: center;
  justify-content: start;
  /* padding-left: 320px; */
  padding-left: 20%;
  padding-top: 60px;
}

.search-icon{
display: inline-block;
width: 20%;
height: auto;
}

.search-name{
  width: 20%;
  display: inline-block;
}

/* TOPページ//////////////////////////////////////////////////////////////////////////// */


.trash-box{
}
.post-block{
  padding: 20px 30px 20px 200px;
  width: 100%;
  text-decoration: none;
  /* border-bottom:3px solid #DCDCDC; */
  border-bottom:1px solid #888;

  display:flex;
}

.post-content{
  width:100%;
  padding:15px;
}

.post-content > div{
  display:flex;
  justify-content:space-between;
}

.login-name{
  color: #fff;
}
.post-name{
  margin-bottom:15px;
}

.button-flex{
  display: flex;
  justify-content:end;
}

.openModal{
  background-color: white;
}

/* フォローリスト */
.follow-list{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top:40px;
}

.list-title{
  font-size: 35px;
  font-weight: bold;
  padding-right: 80px;
  padding-left: 150px;
}

.follow_icon{
  padding-right: 15px;
}

.gray-line{
  background: #DCDCDC;
  /* max-width: 100%; */
  width: 100%;
  height: 8px;
  margin-top: 30px;
}


/* ////////////////////他ユーザーのprofileページ */


.icon-flex{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 200px;
}

.name-flex{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.name1{
  margin-right: 80px;
  font-size: 18px;
}

.user-name{
  font-size: 18px;

}

.bio-flex{
  display: flex;
  align-items: center;
  justify-content: start;
}

.bio-title{
 margin-right: 100px;
 font-size: 18px;
}

.bio-post{
 font-size: 20px;
}

.content-flex{
 padding-left:20px;
 margin-top: 20px;
}

.btn_box{
  margin-left: auto;
  /* margin-top: 20px; */

}

.btn_profile {
  display: inline-block;
  text-decoration: none;
  padding:  10px 20px;
  border-radius: 5px;
  color: #fff;
  /* margin: 20px; */
  margin-bottom: 0;
  margin-top: 48px;
  margin-right: 20px;
  transition: 0.3s;
}

.btn_profile:hover{
  opacity: .5;
}

.post-block-profile{
  padding: 30px 30px 30px 215px;
  width: 100%;
  text-decoration: none;
  /* border-bottom:3px solid #DCDCDC; */
  border-bottom:1px solid #888;
  display:flex;
}
