@charset "utf-8";
html{
}
body{
  width: 100%;
  min-height: 100vh;
}
/* header */
header{
    display: flex;
    background:#186AC9;
    align-items:center;
    justify-content:space-between;
    width:100%;
    line-height:60px;
    height: auto;
}
/* textareaのプレースフォルダ */
textarea::placeholder {
   color: #bbb;
}

li{
  list-style: none;
}

header ul{
  padding:0 30px;
  display: flex;
  align-items: center;
}

header li{
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  letter-spacing: .2em;
}

header li a:hover{
  text-decoration: underline;
}

.top{
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}

.header-icon{
  margin-top: 30px;
}

.login-name{
  color: #fff;
  position: relative;
}
/* main content */
#row{
    width: 100%;
    display: flex;
    /* flex-flow: row wrap; */
}
#container{
    /* flex: 0 0 80%; */
    width: 80%;
    min-height: 100vh;
}
#side-bar{
    /* flex: 0 0 19%; */
    border-left: 1px solid #727272;
    min-height:100vh;
    width: 20%;
}

#confirm{
  padding-top: 30px;
  border-bottom: 1px solid #727272;
}

.side-top{
  margin-bottom: 20px;
}

.side-flex{
  display: flex;
  align-items: center;
  padding-top:10px;
}

.side-username{
  padding-left: 22px;
  width: 140px;
}

.side-right{
  text-align: right;
}
.side-search_btn {
  text-align: center;
}

button{
  border: none;
}


#comment{
  margin: 65px 10px 0px 20px;
  /* padding-top: 40px; */
  font-size: 20px;
  /* 枠線を消す */
    border: none;

    /* 右下の//(サイズ変更機能)を消す */
    resize: none;

    /* フォーカスした際の青い枠線を消す */
    outline: none;
}

::placeholder{
  /* color: #b0c4de; */
  color: gray;
}


.atlas_logo{
  /* display: inline-block; */
  width:200px;
  height: auto;
  padding-left: 30px;
  padding-top: 20px;
}
/* アコーディオンメニュー【Atlasトップページ】 */
.accordion-item{
  position: relative;
}

.accordion-title {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.accordion-content {
  text-align: center;
  display: none;
  position: absolute;
  padding:0;
  width: 390px;
  height: auto;
  background: #fff;
  top:73px;
  left: -210px;
  line-height: 1.0;
  border: solid 4px blue ;
}
.accordion-content p {
  font-size: 30px;
  display: inline-block;
  height: 80px;
  padding-top:30px;
  vertical-align: middle;
}

.accordion-content a:hover{
  background: red;
  text-decoration: none;
  color: #fff;
}

.accordion-content p a{
  display: inline-block;
  color: gray;
  width:380px;
  vertical-align: middle;
  text-decoration: none;
  /* padding: 40px; */
}


/* 矢印 */
.accordion-title {
  position: relative;
}
.accordion-title::after {
  border-right: solid 2px #fff;
  border-top:  solid 2px #fff;
  content: "";
  display: block;
  height: 9px;
  /* position: absolute; */
  right: 25px;
  top: 38%;

  /* 最初の矢印は下向き */
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 9px;
}


.accordion-title.open::after {
  /* 矢印の位置を少し変える */
  top: 45%;
  /* 矢印を上向きに変える */
  transform: rotate(-45deg);
}



/* ここまでがアコーディオンメニュー */




/* ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ */
.flex-post{
  display: flex;
  align-items: center;

}

/* つぶやき送信ボタン */
.submit_btn{
  display: inline-block;
  margin-top: 80px;
  margin-right: 80px;
  width: 60px;
  height: auto;
  border-radius:15px;
  cursor:pointer;
  transition: all 0.3s ease;
}
/* ホバーしたら、色が変わる？変わらないから聞く。 */
.submit_btn:hover{
  background: #727272;
}

.flex-post img{
  padding-left: 150px;
}

.flex-post textarea{
  font-size: 20px;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* 投稿の間隔 */
.post-li{
  margin: 20px  40px 20px;
}
/* 投稿編集ボタン */
.post_btn1{
  width:47px;
  height: auto;
  cursor:pointer;
}

/* 投稿削除ボタン */
.post_btn2{
  width:47px;
  height: auto;
  cursor:pointer;
  transition: .3s;
}
/* ホバーしたら、反転し、背景画像が変わる？変わらないから聞く。*/
.post_btn2:hover{
  background-image: url('images/trash-h.png');
}
/* ///////////////////////////////////////////////////////////////////////////////////// */
ul{
  display: flex;
  align-items: center;

}

/* ///////////////////////////////////////////////////////////////////////////////////// */
/* ボタンのデザイン */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  margin: 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: .3;
}

.btn_base{
  background: #0079c1;
  width:130px;
  height: auto;
  text-align: center;
}

.btn_base a{
  color:#fff;
}
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* 編集モーダル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
  background-color: #457b9d;
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-text{
  font-size: 20px;
}

#closeModal{
  cursor:pointer;

}

/* 検索フォーム//////////////////////////////////////////// */

.search-top-flex{
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: 70px;
  margin-top: 25px;
}

.keyword-box{
  margin-top: 30px;
  margin-right: 70px;
  margin-left: 270px;
}

.keyword{
  font-size: 30px;
  margin-left: -70px;
}
.search-form-001{
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  /* justify-content:flex-start; */
}

.form{
  margin-left: 10px;
  width:300px;
  height: 50px;
  font-size: 20px;
}

.search_btn{
 margin-left: 20px;
 width:50px;
 height: 50px;
 border-radius: 7px;
 cursor: pointer;
}

.search_btn:hover{
  opacity:0.7;
}

/* フォローする、フォロー解除ボタン */
.follow{
  background:deepskyblue;
  color:#fff;
}

.follow a{
  color:#fff;
}

.unfollow{
  background:red;
  color:#fff;
}

.unfollow a{
  color: #fff;
}

/* textareaにフォーカスしたら色を変える。 */

.search-users{

  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-left: 22%;
  margin-top: 25px;
}

.search-icon{
display: inline-block;
width:8%;
height: auto;
}

.search-name{
  width: 19%;
  display: inline-block;
}

/* TOPページ//////////////////////////////////////////////////////////////////////////// */


.trash-box{
}
.post-block{
  padding: 20px 30px 20px 200px;
  width: 100%;
  text-decoration: none;
  /* border-bottom:3px solid #DCDCDC; */
  border-bottom:1px solid #888;

  display:flex;
}

.post-content{
  width:100%;
  padding:15px;
}

.post-content > div{
  display:flex;
  justify-content:space-between;
}


.post-name{
  margin-bottom:15px;
}

.button-flex{
  display: flex;
  justify-content:end;
}

.openModal{
  background-color: white;
}

/* フォローリスト */
.follow-list{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top:20px;
}

.list-title{
  font-size: 35px;
  font-weight: bold;
  padding-right: 80px;
  padding-left: 150px;
}

.max-row{
  max-width: 100%;
  display: flex;
  align-items: center;
}

.follow_icon{
  text-align: center;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 25px;
  vertical-align: middle;
}
/* ///////////////////////////////////////////// */
.gray-line-top{
  background: #DCDCDC;
  /* max-width: 100%; */
  width: 100%;
  height: 8px;
  margin-top: 20px;
}

.gray-line{
  background: #DCDCDC;
  /* max-width: 100%; */
  width: 100%;
  height: 8px;
  margin-top: 50px;
}

/* ////////////////////他ユーザーのprofileページ */


.icon-flex{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 200px;
}

.name-flex{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.name1{
  margin-right: 80px;
  font-size: 18px;
}

.user-name{
  font-size: 18px;

}

.bio-flex{
  display: flex;
  align-items: center;
  justify-content: start;
}

.bio-title{
 margin-right: 100px;
 font-size: 18px;
}

.bio-post{
 font-size: 20px;
}

.content-flex{
 padding-left:20px;
 margin-top: 20px;
}

.btn_box{
  margin-left: auto;
  /* margin-top: 20px; */

}

.btn_profile {
  display: inline-block;
  text-decoration: none;
  padding:  10px 20px;
  border-radius: 5px;
  color: #fff;
  /* margin: 20px; */
  margin-bottom: 0;
  margin-top: 48px;
  margin-right: 20px;
  transition: 0.3s;
}

.btn_profile:hover{
  opacity: .5;
}

.post-block-profile{
  padding: 30px 30px 30px 215px;
  width: 100%;
  text-decoration: none;
  /* border-bottom:3px solid #DCDCDC; */
  border-bottom:1px solid #888;
  display:flex;
}


/* プロフィール編集ページ */

.form-group{
  display: flex;
  /* margin-left: 330px; */
  margin-left: 20%;
}

.profile_icon{
  margin-top: 70px;
}

.profile-item{
margin-top: 75px;
margin-left: 50px;
}

.profile-items{
 display: flex;
 align-items: center;
 justify-content:flex-start;
 margin-bottom: 50px;
}

.profile-item p{
 font-size: 28px;
 width: 330px;
}

.profile-item input{
  font-size: 28px;
  margin-left: 40px;
}

.items-input{
  display: inline-block;
  width: 70%;
  background: #f2f2f2;
  box-sizing: border-box;
  padding: 0.35em;
  border: 1px solid #999;
}
/* /////ファイルを選択ボタン///// */

#app {
    display: inline-block;
    width: 60%;
    margin: auto;
    padding: 40px 0;
    line-height: 1.5;
    border: 1px solid #999;
    background-color: #f2f2f2;
    text-align: center;
}

.file-label {
    /* text-align: center; */
    margin: 0 auto;
    padding: 15px 40px;
    color: #999;
    background-color: #fff;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}

.file-label:hover{
  opacity: .5;
  color:#fff;
  background: #0079c1;
}


input[type="file"] {
    display: none;
}

/* /////////////// */

.btn-update{
  margin-left: 570px;
}

.btn-update_color{
  background: red;
  padding: 13px 120px;
  font-size: 25px;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;

}

.btn-update_color:hover{
  opacity: .5;
  background: #00aaa7;
}
